<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yubar.kedou.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.yubar.kedou.domain.po.Comment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="videoId" column="video_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_user,video_id,
        content,is_delete,create_time
    </sql>
</mapper>
