<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yubar.kedou.mapper.RelationMapper">

    <resultMap id="BaseResultMap" type="com.yubar.kedou.domain.po.Relation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="followId" column="follow_id" jdbcType="BIGINT"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,create_user,follow_id,
        is_delete,create_time
    </sql>
</mapper>
