<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yubar.kedou.mapper.SessionMapper">

    <resultMap id="BaseResultMap" type="com.yubar.kedou.domain.po.Session">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userA" column="user_a" jdbcType="BIGINT"/>
            <result property="userB" column="user_b" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_a,user_b,
        create_time,update_time
    </sql>
</mapper>
